{{#if DCRoll}}
    <div class="dice-roll dc-roll">
        <div class="dice-result">
            <div class="dice-formula">
                {{{flavor}}}
            </div>
            {{{tooltip}}}
            <h4 class="dice-total">
                {{total}} {{localize "DC.ROLL.Succes"}}
            </h4>
            {{#if DCOld}}
            <div class="old-roll">
                <h5>
                    {{localize "DC.ROLL.Abandonne"}} :
                </h5>
                <ol class="dice-old">
                    {{{DCOld}}}
                </ol>
            </div>
            {{/if}}
        </div>
    </div>
{{else}}
    <div class="dice-roll">
        {{#if flavor}}
        <div class="dice-flavor">{{flavor}}</div>
        {{/if}}
        <div class="dice-result">
            <div class="dice-formula">{{formula}}</div>
            {{{tooltip}}}
            <h4 class="dice-total">{{total}}</h4>
        </div>
    </div>
{{/if}}
