<form class="mainFlex {{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <h1 class="title">{{localize "DC.ROLL.ASK.AskRelance"}}</h1>
    </header>
    <section class="sheet-body">
        <ol class="results">
            {{{this.object.results}}}
        </ol>
    </section>
    <footer class="sheet-footer">
        <button class="relance">{{localize "DC.ROLL.ASK.Relance"}}</button>
        <button class="fermer">{{localize "DC.ROLL.ASK.Close"}}</button>
    </footer>
</form>